.portfolio-light-works {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
}

.portfolio-light-work {
	position: relative;
	width: 100%;
	padding: 0;
}

.portfolio-light__img {
	width: 100% !important;
	height: auto !important;
}

.portfolio-light__title {
	font-weight: bold;
}

.portfolio-light__content {
	margin-top: 5px;
}

@media (min-width: 425px) {
	.portfolio-light-works {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	.portfolio-light-work {
		padding: 0 10px;
	}
}
